---
nwmaster-server:
  host: set.your.listen.ip.here
  port: 5121

game-version: "8109"

# The time after which idle servers are
# removed from the known list.
# Servers heartbeat every five minutes, so
# values less than that don't make much sense.
server-timeout: 330

# The time after which idle players (gs-accounts) are
# removed from the known list.
# This does not affect cd key authentication - this is
# just for the friends list.
account-timeout: 330

# You can chain handlers by simply putting them
# in a list here. They will be called in the given
# order, and the first to return a non-nil result
# for any request will be authoritative.
#
# Handlers are expected to live in handlers/, and
# implement a class with the capitalized name given here
# and "Handler" appended: reject -> RejectHandler.
# Handlers are expected to subclass BaseHandler, for future
# compatibility.
# 
# Specific methods defined there will be called in the
# order listed here. For a list of all possible methods,
# see lib/handler.rb.
handlers:
  # SQL-based authentication.
  # Set up empty database by running:
  #   sequel -m sql_migrations sqlite://nwmaster.db
  #- sql

  # Always allow auth & auth.
  #- allow

  # Always reject auth & auth.
  - reject
...
