---
nwmaster-server:
  host: set.your.listen.ip.here
  port: 5121

game-version: "8109"

# SQL-based authentication.
# Set up empty database by running:
#   sqlite3 nwmaster.db < mode_sql.sql
#mode: sql

# Always allow authentication.
mode: dummy
...
